<template name="rpp_view">
    <div id="timer">
        <span id="time">{{time}}</span> seconds remaining
    </div>
    <div id="question">
        {{question}}
    </div>
    <div class="rpp_view">
        <h1>Keskittyk&auml;&auml; yhteen kysymykseen kerrallaan. Tutkija kertoo teille, koska voitte siirty&auml; seuraavaan kysymykseen</h1>
        <h2>{{question}}</h2>
        {{> rpp_question question="How do you do?" answer=1}}

    </div>
</template>


<template name="rpp_question">
    <div>
        <!--<h2>{{question}}</h2>-->

        <hr>
        <textarea class="area" maxlength="1000" placeholder="Write here"></textarea>
        <button class="button" id="saveAnswer">Tallenna</button>
        <h3> vastaukset</h3>
        <div class="answers">
            {{#each answers}}
            {{> answer}}
            {{/each}}
        </div>
    </div>
</template>




<template name="answer">
    <div class="answer">
        {{#unless hide_header}}
        <!--<h4>{{time}} | {{nick}}</h4>-->
        {{/unless}}
        {{text}}
    </div>
</template>